<template>
    <div class="row">
        <div class="col-md-8">
            <h3 v-text="project.name"></h3>
            <ul class="list-group">
                <li class="list-group-item" v-for="task in project.tasks" v-text="task.body" :key="task.id"></li>
            </ul>

            <input class="form-control" type="text" placeholder="New Task" v-model="newTask" @blur="save" @keydown="tagPeers">
            <p v-if="activePeer" v-text="activePeer.name + ' is typing...'"></p>
        </div>

        <div class="col-md-4">
            <h4>Active Participants</h4>

            <ul>
                <li v-for="participant in participants" v-text="participant.name" :key="participant.id"></li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['data-project'],
        data() {
            return {
                newTask: '',
                participants: [],
                activePeer: false,
                typingTimer: false,
                project: this.dataProject,
            };
        },

        created() {
            this.channel
                .here(users => {
                    this.participants = users;
                })
                .joining(user => {
                    this.participants.push(user);
                })
                .leaving(user => {
                    this.participants.splice(this.participants.findIndex(participant => participant.id === user.id), 1);
                })
                .listen('TaskCreated', ({task}) => this.addTask(task))
                .listenForWhisper('typing', this.flashActivePeer)
            ;

            axios.get(`/api/projects/${this.project.id}`).then(response => {
                this.project.tasks = response.data
            });
        },

        computed: {
            channel() {
                // return window.Echo.private(`tasks.${this.project.id}`);
                return window.Echo.join(`tasks.${this.project.id}`);
            }
        },

        methods: {
            flashActivePeer(event) {
                this.activePeer = event;

                if (this.typingTimer) clearTimeout(this.typingTimer);

                this.typingTimer = setTimeout(
                    () => (this.activePeer = false), 3000
                );
            },
            tagPeers() {
                this.channel.whisper('typing', { name: window.App.user.name });
            },

            save() {
                axios.post(`/api/projects/${this.project.id}/tasks`, {
                        body: this.newTask
                    })
                    .then(response => response.data)
                    .then(this.addTask)
                ;
            },

            addTask(task) {
                this.activePeer = false;
                this.project.tasks.push(task);
                this.newTask = '';
            }
        }
    }
</script>
